<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GroupListFolder" value="groups"/>
    <add key="GroupListFilePrefix" value=".cfg"/>
    <add key="GoodQualityList" value="good,goodLocalOverride,200"/>
    <add key="BadQualityList" value="bad"/>
    <add key="FileCommandName" value="cmd.cmd"/>
    <add key="OpcConnectionString" value="opcda://10.85.5.112/Infinity.OPCServer"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>